@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.button{
    border: 2px solid #454545;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;


}
.button:hover{
    color: #fff;
    background-color: #454545;
}
header .line{
    background-color: #117050;
    height: 10px;
}
.container{
    max-width: 1140px;
    margin: auto;
    
}
.bar{
    background-color: #117050;
    width: 160px;
    height: 22px;
}
h1{
    font-size: 90px;
    font-weight: bold;
    font-family: "oswald","sans-serif";
    line-height: 90px;
    margin: 0;
    
}
h2{
    font-size: 35px;
    font-weight: bold;
    font-family: "oswald","sans-serif";
    line-height: 43px;
    margin: 20px 0;

}
.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header-rigth{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-left img{
    height: 64px;
    width: 64px;
}
.header-search form{
    display: flex;
    flex-direction: row;
}
.header-search input{
    font-size: 16px;
    padding: 12px 13px;
    border: 1px solid #999;
    outline: 0;
    width: 100%;
    max-width: 250px;

}
.header-search button{
    border: 0;
    background-color:transparent;
    margin-left: -30px;
    cursor: pointer;

}
.header-search button img{
    width: 16px;
    height: 16px;
}
.header-menu{
    margin-left: 60px;

}
.header-menu img{
    width: 24px;
    height: 24px;
}
.banner{
    background-image: url("../assets/bg.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0;
    
}
.banner-image{
    margin-top: 60px;
}
.banner-image img{
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;margin-right: 40px;
    
}
.area-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area1-text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area1-content{
    padding: 80px;
}
.area1-quote{
    margin-bottom: 30px;
}
.area1-img1{
    background-color: green;
    background-image: url("../assets/f2.jpg");
    background-position: center;
    background-size: cover;
    height: 350px;

}
.area1-img2{
    background-image: url("../assets/f1.jpg");
    background-position: center;
    background-size: cover;
    background-color: aqua;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.area-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area2-text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area2-content{
    padding: 80px;
}

.area2-img1{
    background-color: green;
    background-image: url("../assets/f4.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;

}
.area2-img2{
    background-image: url("../assets/f3.jpg");
    background-position: center;
    background-size: cover;
    background-color: aqua;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.area-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area3-text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area3-content{
    padding: 250px 80px;
    background-color: green;
    background-image: url("../assets/bg2.jpg");
    background-position: left;
    background-size: cover;

}

.area3-img1{
    background-color: green;
    background-image: url("../assets/f5.jpg");
    background-position: center;
    background-size: cover;

}
.area-4{
    display: grid;
    grid-template-columns: 550px 1fr;
    background-color: #e8e9ee;
}
.area4-content{
    padding: 150px 80px;

}
.area4-text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area4-img1{
    background-image: url("../assets/bg3.jpg");
    background-position: left ;
    
}
.area-5{
    background-image: url("../assets/bg4.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 80px;
}

@media (min-width:769px) and (max-width: 1140px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width:768px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .area-1{
        grid-template-columns: 2fr 1fr;
    }
    .area-2{
        grid-template-columns: 3fr 2fr;
    }
    .area-3{
        grid-template-columns: 3fr 2fr;
    }
    .area-5{
        background-position: right;
    }
}
@media (max-width:425px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .header-search input{
        max-width: 80px;
    }
    .header-menu{
        margin-left: 25px;
    }
    h1{
        font-size: 50px;
        line-height: 50px;
    }
    h2{
        font-size: 25px;
        line-height: 30px;
    }
    .banner-image img{
        width: 60px;
        height: 60px;
        border: 2px solid #117050;
        border-radius: 50%;
        margin-right: 10px;
        
    }
    .area-1{
        grid-template-columns: 1fr;
    }
    .area1-content{
        padding: 40px;
    }
    .area1-img1{
        height: 200px;
    }
    .area-2{
        grid-template-columns: 1fr;
    }
    .area2-content{
        padding: 40px;
    }
    .area-3{
        grid-template-columns: 1fr;
    }
    .area3-content{
        padding: 40px;
    }
    .area-4{
        grid-template-columns: 1fr;
        
    }
    .area4-content{
        padding: 60px 60px;
    }
    .area-5{
        height: 200px;
    }
    footer{
        padding: 40px;
        color: #999;
        font-size: 12px;
        
    }
}