@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden ;
}
header{
    height: 100px;
    background-color: black;
    color: white;
}
.header{
    max-width: 1140px;
    height:100px ;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo{
    width: 100px;
    
}
.logoimg{
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
   cursor: pointer;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;

}
.menu ul,
.menu li{
    list-style: none;
    
}
.menu ul{
    display: flex;
}
.menu li a{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right:10px ;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid black;
    font-size: 13px;
}
.menu .active a{
    border-bottom: 5px solid #b28756;
}
.menu li a:hover{
    border-bottom: 5px solid #b28756;
    color: #ccc;
}


.banner{
    height:calc(100vh - 100px);
    background-color: #333;
    background-image: url("../icones/bg.jpg");
    background-size: cover;
    background-position: bottom;
    overflow:hidden ;
}
.banner .slider{
    width: 1000vw;
    height: 100%;
    
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);

}
.slide-area{
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    justify-content: center;
    flex-direction: column;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span{
    color: #b28756;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 10px;
}
.banner a{
    display: block;
    background-color: #b28756;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 25px;
    border-radius: 20px;

}
.banner a:hover{
    color: #ccc;
}
.banner .slider-point{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    
}
.banner .pointer:hover{
    background-color: #b28756;
}
.banner .pointer.active{
    background-color: #b28756;
}





.defaul{
    padding-top: 50px;
    padding-bottom: 50px;
}
.defaul .section-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;

}
.defaul .section-disc{
    text-align: center;
    text-transform: uppercase;
    font-size:  12px;
    font-weight: 600;
    color: rgb(186, 177, 177);
    margin-top: 10px;
    margin-bottom: 40px;
}
.defaul .section-body{
    margin: auto;
    max-width: 1140px;
    
}
.defaul .light{
    background-color:#ccc;
}
.defaul.light .section-title,
.defaul.light .section-body{
    color: #000;
}
.defaul.Dark{
    background-color: #000;
}
.defaul.Dark .section-title,
.defaul.Dark .section-body{
    color: white;
}
.button{
    display: inline-block;
    background-color: #b28756;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 20px;
    
}
.button:hover{
    color: #ccc;
    background-color: #9f794c;
}











/*
css de areas especificas 
*/

.section-aboutus{
    display: flex;

}
.section-aboutus-left{
    flex: 1;
}
.section-aboutus-left p{
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
}
.section-aboutus-righ{
    width: 520px;
    text-align: center;
    
}
.section-aboutus-righ img{
    width: 380px;
    box-shadow: 0px 5px 10px black;
    
}




.section-service{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;


}
.section-services{
    border-right: 1px solid #ccc;
    flex: 1;
    text-align: center;

}
.section-service:first-child{
    border-left: 1px solid #ccc;
}
.section-services img{
    width: 50px;
}
.section-services h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
}
.section-services p{
    font-size:10px ;
    color: #ccc;
    margin-top: 10px;
}






.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects-filters{
    border: 1px solid #999;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
   
}
.section-projects-filters li,
.section-projects-filters ul{
    list-style: none;
}
.section-projects-filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    font-weight: 400;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}
.section-projects-filters span li{
    border-bottom: 3px solid #b28756;
}
.section-projects-filters li:hover{
 border-bottom: 3px solid #b28756;
}
.section-projects-filters li:first-child{
    border-left: 0;
}

.section-projects--photos{
    width: 100%;
    max-width: 1140;
    margin-top: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo{
   width: 280px;
  
   
}
.section-projects--photoarea{

    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea img{
    width: inherit;
}
.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    text-transform: uppercase;
}
.section-projects--photoinfo h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    
}
.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
    cursor: pointer;
}







.bg-team{
    background-image: url("../icones/bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
}
.team-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px ;
    padding-bottom:50px ;
}
.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;

}
.section-team .slider{
    width: 1000vw;
    height: 100%;
    
}
.section-team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: white;
    margin-right: 20px;


}
.section-team .slide-area{
    display: flex;
    height: 100%;
    align-items: center;
    color: black;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.team-area .slider-point{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.team-area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.team-area .pointer:hover{
    background-color: #b28756;
}
.team-area .pointer.active{
    background-color: #b28756;
}
.section-team-avatar{
    width: 150px;
    height: auto;
}
.section-team-name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-team-role{
    color: #999;
    font-size: 14px;
    margin-top: 5px;
}
.section-team-social{
    display: flex;
    margin-top: 20px;

}
.section-team-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    margin-right: 10px;
}
.section-team-social a:hover{
    background-color: #b28756;
}




.section-clients-name{
    color: #000;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 800;
}
.section-clients-role{
    color: #000;
    margin-top: 10px;
    font-weight: 400;
}
.section-clients-aspas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.section-clients-text{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    flex: 1;
}
.section-clients-text p{
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    color: #999;
}



.clients-area .slider-point{
    margin-top: 60px;
    height: 20px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.clients-area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.clients-area .pointer:hover{
    background-color: #b28756;
}
.clients-area .pointer.active{
    background-color: #b28756;
}



.section-logomarcas{

    height:200px ;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-bottom:1px solid #ccc; 
    margin-bottom: 30px;
}
.section-logomarcas img{
    margin-left: 60px;
    
}








.section-price{
    overflow: hidden;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    height: 400px;
    
}
.section-price .price-area{
    width: 245px ;
    display: flex;
    height: 100%;
    align-items: center;
    color: black;
    flex-direction: column;
    padding: 20px;
    background-color: #eee;
    
}
.price-area{
    width: 200px;   
}
.price-area-name{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 16px;
}
.section-price p{
    font-size: 10px;
    margin-bottom: 10px;
}
.price-area-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: rgb(132, 131, 131);
    font-weight: 600;
    
}
.price-area h1{
    font-size: 30px;
}
.button-chose{
    display: inline-block;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 20px;
}
.button-chose:hover{
    background-color: #b28756;
}
.button-chose.style{
    background-color: #b28756;
}

.premium-area{
    width: 100%;
    height: auto;
    background-color: white;
    padding-bottom: 40px;
    padding-top: 30px;
}
.section-premium{
    display: flex;
    justify-content: center;
    justify-items: center; 
    padding: 20px;
    border-bottom: 1px solid #999;
}
.section-premium h1{
    display: flex;
}
.section-premium h1 img{
    margin-right: 30px;
}
.section-premium-img{
    margin-left: 100px;
    margin-right: 100px;
    width: 350px;
}
.section-premium-infos{
    flex: 1;
    max-width:570px ;
    
}
.section-premium-infos p{
    margin-left: 70px;
    margin-top: 10px;
    
    color: #999;
    font-size: 13px;
}
.button-chose.premium{
   display: inline-block;
   margin-top: 50px;
   margin-left: 480px;
   background-color: #b28756;
}
.button-chose.premium:hover{
    color: #ccc;
    background-color: #9f794c;
}


.clients-area .slider-point{
    margin-top: 60px;
    height: 20px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.clients-area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    
}
.clients-area .pointer:hover{
    background-color: #b28756;
}
.clients-area .pointer.active{
    background-color: #b28756;
}





.section-facts{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
    
}
.section-facts-infos{
    max-width: 285px;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    

}
.section-facts-infos h1{
     font-size: 46px;
     margin-bottom: 10px;
     color: #b28756;
     text-align: center;
    
}
.section-facts-infos h2{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
.section-facts-infos p{
    font-size: 12px;
    text-align: center;
    color: #ccc;
    text-transform: uppercase;
    align-items: center;
    flex: 1;
    
}




.section-redes-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    
}
.section-redes-aboutus{
    display: flex;
    align-items: center;
}
.section-redes-aboutus img{
    width: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
    border-radius: 30px;
}
.section-redes-aboutus h2{
    margin-left: 10px;
    text-transform: uppercase;
    color: #999;
    font-size: 20px;
    
}
.section-redes-links{
    display: flex;
    align-items: center;
    margin-left: 40px;
    
}
.section-redes-list a{
    background-color: #9f794c;
    border-radius: 30px;
    padding: 10px;
}
.section-redes-links img{
    width: 20px;
    aspect-ratio: 3/2;
    object-fit: contain;
    
}
.section-redes-links p{
    font-size: 15PX;
    margin-left: 5px;
    margin-right: 40px;
}


