@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden ;
}
header{
    height: 100px;
    background-color: black;
    color: white;
}
.header{
    max-width: 1140px;
    height:100px ;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo{
    width: 100px;
    
}
.logoimg{
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;

}
.menu ul,
.menu li{
    list-style: none;
    
}
.menu ul{
    display: flex;
}
.menu li a{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right:10px ;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid black;
    font-size: 13px;
}
.menu .active a{
    border-bottom: 5px solid #b28756;
}
.menu li a:hover{
    border-bottom: 5px solid #b28756;
    color: #ccc;
}


.banner{
    height:calc(100vh - 100px);
    background-color: #333;
    background-image: url("../icones/bg.jpg");
    background-size: cover;
    background-position: bottom;
    overflow:hidden ;
}
.banner .slider{
    width: 1000vw;
    height: 100%;
    
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);

}
.slide-area{
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    justify-content: center;
    flex-direction: column;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span{
    color: #b28756;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 10px;
}
.banner a{
    display: block;
    background-color: #b28756;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 25px;
    border-radius: 20px;

}
.banner a:hover{
    color: #ccc;
}
.banner .slider-point{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    
}
.banner .pointer:hover{
    background-color: #b28756;
}
.banner .pointer.active{
    background-color: #b28756;
}





.defaul{
    padding-top: 50px;
    padding-bottom: 50px;
}
.defaul .section-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;

}
.defaul .section-disc{
    text-align: center;
    text-transform: uppercase;
    font-size:  12px;
    font-weight: 600;
    color: rgb(186, 177, 177);
    margin-top: 10px;
    margin-bottom: 40px;
}
.defaul .section-body{
    margin: auto;
    max-width: 1140px;
    
}
.defaul .light{
    background-color: #f7f7f7;
}
.defaul.light .section-title,
.defaul.light .section-body{
    color: #000;
}
.defaul.Dark{
    background-color: #000;
}
.defaul.Dark .section-title,
.defaul.Dark .section-body{
    color: white;
}
.button{
    display: inline-block;
    background-color: #b28756;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 20px;
    margin-left: 80px;
}












/*
css de areas especificas 
*/

.section-aboutus{
    display: flex;

}
.section-aboutus-left{
    flex: 1;
}
.section-aboutus-left p{
    margin-left: 80px;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
}
.section-aboutus-righ{
    width: 520px;
    text-align: center;
    
}
.section-aboutus-righ img{
    width: 380px;
    box-shadow: 0px 5px 10px black;
    
}
